<!DOCTYPE html>
<html>
<head>

     <link rel="stylesheet" href="/css/style.css">
</head>
<title>About</title>
<body>
    
     {{>header}}
     <h1>About</h1>

     <img src="/img/Raminder_Photo.jpg">

</body>


</html>